<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta>
    <title>salam</title>
    <link rel="stylesheet" href="./static/flas.css">
</head>
<body class="bak">
<h3>{{time}}</h3>
<h1>{{date}}</h1>
<table style="width:100%">
  <tr>
    <th>flight number</th>
    <th>flight time</th>
  </tr>
  {% for i in range(items)%}
    <tr>
        <td>
            {{too[i]}}
        </td>
        <td>
           {{op[i]}}
        </td>
    </tr>

    {% endfor %}
</table>
<center>
<br><br>
    </center>
</body>
</html>