<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">خانه</a>
        </li>
          {%if user:%}
                <li class="nav-item">
          <a class="nav-link" href="/add">فیلتر</a>
        </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">نمایش</a>
    <ul class="dropdown-menu">
      <li><a class="nav-link" href="/result">نمایش</a></li>
      <li><a class="nav-link" href="/sort"> به ترتیب قیمت هرمتر</a></li>
      <li><a class="dropdown-item" href="/sort_all"> به ترتیب قیمت کل</a></li>
    </ul>
  </li>

          <li class="nav-item  row-cols-8 row-cols-lg-9">
          <a class="nav-link" href="/logout" >
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg></a>

        </li>
          {%endif%}
          {%if not user:%}
        <li class="nav-item">
          <a class="nav-link" href="/login">ورود </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/register">ثبت نام </a>
        </li>
          {%endif%}
      </ul>
    </div>
  </div>
</nav>