<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">بات دیوار</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">خانه</a>
        </li>
          {%if user:%}
        <li class="nav-item">
          <a class="nav-link" href="/add">فیلتر</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/result">نمایش</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sort">نمایش به ترتیب</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sort_all">نمایش به ترتیب قیمت کل </a>
        </li>
          {%endif%}
          {%if not user:%}
        <li class="nav-item">
          <a class="nav-link" href="/login">وورود </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/register">ثبت نام </a>
        </li>
          {%endif%}
      </ul>
    </div>
  </div>
</nav>